<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"
                    style="color: #3b5998;"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"
                    style="color: #e1306c;"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"
                    style="color: #0077b5;"></i></a>
        </div>
        <div class="f-info-brand">2025 &copy; CarCruise Private Limited </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a> &nbsp; &nbsp; &nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>